*.class
*.log
*.swp

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

compiler-plugin/src/main/scala/scalapb/compiler/Version.scala
e2e/project/project/Version.scala
e2e/project/Version.scala
e2e/.bin

.travis/travis-deploy-key
